* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none; }

#bodyindex {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: #dff0ec; }
  #bodyindex .section1 {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 8vh;
    padding-left: 6vw;
    width: auto;
    height: 100vh;
    background-image: url(/img/bosqueslinea.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    #bodyindex .section1 .div1 h1 {
      font-family: 'Lobster Two', cursive;
      text-align: right;
      font-style: italic;
      font-size: 6vw;
      color: #dff0ec;
      text-shadow: 2px 3px 5px #1f1919;
      transition: text-shadow .4s; }
      #bodyindex .section1 .div1 h1:hover {
        text-shadow: 5px 5px 10px #5f4d4d;
        transition: text-shadow .4s; }
    #bodyindex .section1 .div1 h2 {
      font-family: 'Lobster Two', cursive;
      font-size: 2vw;
      text-align: center;
      color: #dff0ec;
      text-shadow: 2px 3px 5px #1f1919;
      font-style: italic;
      font-weight: 400;
      transition: text-shadow .4s; }
      #bodyindex .section1 .div1 h2:hover {
        text-shadow: 5px 5px 10px #5f4d4d;
        transition: text-shadow .4s; }
  #bodyindex .section2 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #fae8f6; }
    #bodyindex .section2 .div2 {
      width: 50vw;
      height: auto; }
      #bodyindex .section2 .div2 h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5vw;
        font-weight: 600;
        color: #831d4a;
        padding-bottom: 8vh;
        padding-top: 4vw;
        transition: font-size .4s; }
        #bodyindex .section2 .div2 h2:hover {
          font-size: 2vw;
          transition: font-size .4s; }
      #bodyindex .section2 .div2 h3 {
        font-size: 1vw;
        color: #831d4a;
        padding: 0 5vw;
        text-align: justify; }
    #bodyindex .section2 .div3 img {
      width: 50vw;
      height: fit-content; }
  #bodyindex .section3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    text-align: center;
    width: auto;
    height: 35vh;
    padding: 10vh 0vh;
    background-image: url(/img/palmas2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; }
    #bodyindex .section3 h2 {
      font-family: 'Lobster Two', cursive;
      font-size: 3vw;
      color: #52161b;
      padding-bottom: 3vh;
      transition: font-size .4s; }
      #bodyindex .section3 h2:hover {
        font-size: 3.5vw;
        transition: font-size .4s; }
    #bodyindex .section3 h3 {
      font-family: 'Lobster Two', cursive;
      font-size: 1.5vw;
      color: #52161b;
      transition: font-size .4s; }
      #bodyindex .section3 h3:hover {
        font-size: 2vw;
        transition: font-size .4s; }
  #bodyindex .section4, #bodyindex .section5 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #fae8f6; }
    #bodyindex .section4 .div4, #bodyindex .section4 .div7, #bodyindex .section5 .div4, #bodyindex .section5 .div7 {
      width: 100vw; }
      #bodyindex .section4 .div4 h2, #bodyindex .section4 .div7 h2, #bodyindex .section5 .div4 h2, #bodyindex .section5 .div7 h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 1.5vw;
        color: #831d4a;
        padding-bottom: 8vh;
        transition: font-size .4s; }
        #bodyindex .section4 .div4 h2:hover, #bodyindex .section4 .div7 h2:hover, #bodyindex .section5 .div4 h2:hover, #bodyindex .section5 .div7 h2:hover {
          font-size: 2vw;
          transition: font-size .4s; }
      #bodyindex .section4 .div4 h3, #bodyindex .section4 .div7 h3, #bodyindex .section5 .div4 h3, #bodyindex .section5 .div7 h3 {
        text-align: left;
        font-size: 1vw;
        color: #831d4a;
        padding: 0 5vw; }
    #bodyindex .section4 .div5 img, #bodyindex .section4 .div6 img, #bodyindex .section5 .div5 img, #bodyindex .section5 .div6 img {
      width: 50vw;
      height: auto; }
  @media screen and (max-width: 768px) {
    #bodyindex .section1 {
      display: flex;
      flex-wrap: nowrap; }
      #bodyindex .section1 .div1 h1 {
        font-size: 10vw;
        text-align: left;
        text-shadow: 2px 3px 5px #1f1919; }
      #bodyindex .section1 .div1 h2 {
        font-size: 4vw;
        text-align: center;
        text-shadow: 2px 3px 5px #1f1919; }
    #bodyindex .section3 h2 {
      font-size: 6vw;
      transition: font-size .4s; }
      #bodyindex .section3 h2:hover {
        font-size: 6.5vw;
        transition: font-size .4s; }
    #bodyindex .section3 h3 {
      font-size: 4vw;
      color: #28486f; }
    #bodyindex .section2, #bodyindex .section4, #bodyindex .section5 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      width: 100vw;
      height: auto; }
      #bodyindex .section2 .div2, #bodyindex .section2 .div4, #bodyindex .section2 .div7, #bodyindex .section4 .div2, #bodyindex .section4 .div4, #bodyindex .section4 .div7, #bodyindex .section5 .div2, #bodyindex .section5 .div4, #bodyindex .section5 .div7 {
        width: 80vw;
        height: auto; }
        #bodyindex .section2 .div2 h2, #bodyindex .section2 .div4 h2, #bodyindex .section2 .div7 h2, #bodyindex .section4 .div2 h2, #bodyindex .section4 .div4 h2, #bodyindex .section4 .div7 h2, #bodyindex .section5 .div2 h2, #bodyindex .section5 .div4 h2, #bodyindex .section5 .div7 h2 {
          font-size: 6vw;
          padding: 10vh 0 3vh 0;
          transition: font-size .4s; }
          #bodyindex .section2 .div2 h2:hover, #bodyindex .section2 .div4 h2:hover, #bodyindex .section2 .div7 h2:hover, #bodyindex .section4 .div2 h2:hover, #bodyindex .section4 .div4 h2:hover, #bodyindex .section4 .div7 h2:hover, #bodyindex .section5 .div2 h2:hover, #bodyindex .section5 .div4 h2:hover, #bodyindex .section5 .div7 h2:hover {
            font-size: 6.3vw;
            transition: font-size .4s; }
        #bodyindex .section2 .div2 h3, #bodyindex .section2 .div4 h3, #bodyindex .section2 .div7 h3, #bodyindex .section4 .div2 h3, #bodyindex .section4 .div4 h3, #bodyindex .section4 .div7 h3, #bodyindex .section5 .div2 h3, #bodyindex .section5 .div4 h3, #bodyindex .section5 .div7 h3 {
          font-size: 3.5vw;
          text-align: center;
          padding-bottom: 8vh; }
      #bodyindex .section2 .div3, #bodyindex .section4 .div3, #bodyindex .section5 .div3 {
        padding-bottom: 3vh; }
        #bodyindex .section2 .div3 img, #bodyindex .section4 .div3 img, #bodyindex .section5 .div3 img {
          width: 100vw;
          height: auto; }
      #bodyindex .section2 .div5, #bodyindex .section2 .div6, #bodyindex .section4 .div5, #bodyindex .section4 .div6, #bodyindex .section5 .div5, #bodyindex .section5 .div6 {
        margin: 3vh 0; }
        #bodyindex .section2 .div5 img, #bodyindex .section2 .div6 img, #bodyindex .section4 .div5 img, #bodyindex .section4 .div6 img, #bodyindex .section5 .div5 img, #bodyindex .section5 .div6 img {
          width: 80vw;
          height: auto; } }

#bodysobremusa {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: #fae8f6; }
  #bodysobremusa .sec-acerca1 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #dff0ec;
    height: auto; }
    #bodysobremusa .sec-acerca1 .div8 img {
      width: 50vw;
      height: auto; }
    #bodysobremusa .sec-acerca1 .div9 {
      padding: 0 5vw;
      width: 50vw;
      height: auto; }
      #bodysobremusa .sec-acerca1 .div9 h1 {
        text-align: center;
        font-size: 2vw;
        transition: font-size .4s;
        color: #28486f;
        padding-bottom: 4vh; }
        #bodysobremusa .sec-acerca1 .div9 h1:hover {
          font-size: 2.5vw;
          transition: font-size .4s; }
      #bodysobremusa .sec-acerca1 .div9 h2 {
        text-align: left;
        font-size: 1vw;
        color: #28486f;
        padding-bottom: 3vh; }
  #bodysobremusa .sec-acerca2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    height: 40vh;
    text-align: center;
    align-items: stretch;
    width: auto;
    height: 35vh;
    text-align: center;
    background-image: url(/img/palmas2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    #bodysobremusa .sec-acerca2 .div10 h2 {
      font-family: 'Lobster Two', cursive;
      padding-top: 8vh;
      padding-bottom: 3vh;
      color: #52161b;
      font-size: 4vw;
      transition: font-size .4s; }
      #bodysobremusa .sec-acerca2 .div10 h2:hover {
        font-size: 4.5vw;
        transition: font-size .4s; }
    #bodysobremusa .sec-acerca2 .div10 h3 {
      font-family: 'Lobster Two', cursive;
      padding-bottom: 8vh;
      color: #52161b;
      font-size: 1.5vw;
      transition: font-size .4s; }
      #bodysobremusa .sec-acerca2 .div10 h3:hover {
        font-size: 2vw;
        transition: font-size .4s; }
  #bodysobremusa .sec-acerca3, #bodysobremusa .sec-acerca4, #bodysobremusa .sec-acerca5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5vh 0;
    height: auto; }
    #bodysobremusa .sec-acerca3 .div11, #bodysobremusa .sec-acerca3 .div14, #bodysobremusa .sec-acerca3 .div15, #bodysobremusa .sec-acerca4 .div11, #bodysobremusa .sec-acerca4 .div14, #bodysobremusa .sec-acerca4 .div15, #bodysobremusa .sec-acerca5 .div11, #bodysobremusa .sec-acerca5 .div14, #bodysobremusa .sec-acerca5 .div15 {
      border: 15px solid #fae8f6; }
      #bodysobremusa .sec-acerca3 .div11 img, #bodysobremusa .sec-acerca3 .div14 img, #bodysobremusa .sec-acerca3 .div15 img, #bodysobremusa .sec-acerca4 .div11 img, #bodysobremusa .sec-acerca4 .div14 img, #bodysobremusa .sec-acerca4 .div15 img, #bodysobremusa .sec-acerca5 .div11 img, #bodysobremusa .sec-acerca5 .div14 img, #bodysobremusa .sec-acerca5 .div15 img {
        border-radius: 5px;
        width: 30vw;
        height: 60vh; }
    #bodysobremusa .sec-acerca3 .div12, #bodysobremusa .sec-acerca3 .div13, #bodysobremusa .sec-acerca3 .div16, #bodysobremusa .sec-acerca4 .div12, #bodysobremusa .sec-acerca4 .div13, #bodysobremusa .sec-acerca4 .div16, #bodysobremusa .sec-acerca5 .div12, #bodysobremusa .sec-acerca5 .div13, #bodysobremusa .sec-acerca5 .div16 {
      background-color: #dff0ec;
      width: 30vw;
      height: 60vh;
      border-radius: 5px; }
      #bodysobremusa .sec-acerca3 .div12 h2, #bodysobremusa .sec-acerca3 .div13 h2, #bodysobremusa .sec-acerca3 .div16 h2, #bodysobremusa .sec-acerca4 .div12 h2, #bodysobremusa .sec-acerca4 .div13 h2, #bodysobremusa .sec-acerca4 .div16 h2, #bodysobremusa .sec-acerca5 .div12 h2, #bodysobremusa .sec-acerca5 .div13 h2, #bodysobremusa .sec-acerca5 .div16 h2 {
        padding: 10vh 5vw 3vh 5vw;
        font-size: 1.5vw;
        color: #52161b;
        text-align: center;
        font-weight: 500; }
      #bodysobremusa .sec-acerca3 .div12 h3, #bodysobremusa .sec-acerca3 .div13 h3, #bodysobremusa .sec-acerca3 .div16 h3, #bodysobremusa .sec-acerca4 .div12 h3, #bodysobremusa .sec-acerca4 .div13 h3, #bodysobremusa .sec-acerca4 .div16 h3, #bodysobremusa .sec-acerca5 .div12 h3, #bodysobremusa .sec-acerca5 .div13 h3, #bodysobremusa .sec-acerca5 .div16 h3 {
        text-align: justify;
        font-size: 1vw;
        color: #28486f;
        padding: 3vh 5vh; }
  @media screen and (max-width: 768px) {
    #bodysobremusa {
      font-family: 'Ubuntu', sans-serif;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center; }
      #bodysobremusa .sec-acerca1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center; }
        #bodysobremusa .sec-acerca1 .div8 img {
          width: 100vw;
          height: auto; }
        #bodysobremusa .sec-acerca1 .div9 {
          width: 100vw;
          height: auto;
          padding-top: 4vh; }
          #bodysobremusa .sec-acerca1 .div9 h1 {
            padding-top: 8vh;
            font-size: 6vw; }
          #bodysobremusa .sec-acerca1 .div9 h2 {
            padding: 0 3.5vw 4vh 3.5vw;
            font-size: 3.5vw;
            text-align: left; }
      #bodysobremusa .sec-acerca2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center; }
        #bodysobremusa .sec-acerca2 .div10 h2 {
          font-size: 8vw; }
        #bodysobremusa .sec-acerca2 .div10 h3 {
          font-size: 4vw; }
      #bodysobremusa .sec-acerca3, #bodysobremusa .sec-acerca4, #bodysobremusa .sec-acerca5 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center; }
        #bodysobremusa .sec-acerca3 .div11 img, #bodysobremusa .sec-acerca3 .div14 img, #bodysobremusa .sec-acerca3 .div15 img, #bodysobremusa .sec-acerca4 .div11 img, #bodysobremusa .sec-acerca4 .div14 img, #bodysobremusa .sec-acerca4 .div15 img, #bodysobremusa .sec-acerca5 .div11 img, #bodysobremusa .sec-acerca5 .div14 img, #bodysobremusa .sec-acerca5 .div15 img {
          width: 80vw;
          height: auto; }
        #bodysobremusa .sec-acerca3 .div12, #bodysobremusa .sec-acerca3 .div13, #bodysobremusa .sec-acerca3 .div16, #bodysobremusa .sec-acerca4 .div12, #bodysobremusa .sec-acerca4 .div13, #bodysobremusa .sec-acerca4 .div16, #bodysobremusa .sec-acerca5 .div12, #bodysobremusa .sec-acerca5 .div13, #bodysobremusa .sec-acerca5 .div16 {
          width: 80vw;
          height: auto; }
          #bodysobremusa .sec-acerca3 .div12 h2, #bodysobremusa .sec-acerca3 .div13 h2, #bodysobremusa .sec-acerca3 .div16 h2, #bodysobremusa .sec-acerca4 .div12 h2, #bodysobremusa .sec-acerca4 .div13 h2, #bodysobremusa .sec-acerca4 .div16 h2, #bodysobremusa .sec-acerca5 .div12 h2, #bodysobremusa .sec-acerca5 .div13 h2, #bodysobremusa .sec-acerca5 .div16 h2 {
            font-size: 5vw;
            text-align: center; }
          #bodysobremusa .sec-acerca3 .div12 h3, #bodysobremusa .sec-acerca3 .div13 h3, #bodysobremusa .sec-acerca3 .div16 h3, #bodysobremusa .sec-acerca4 .div12 h3, #bodysobremusa .sec-acerca4 .div13 h3, #bodysobremusa .sec-acerca4 .div16 h3, #bodysobremusa .sec-acerca5 .div12 h3, #bodysobremusa .sec-acerca5 .div13 h3, #bodysobremusa .sec-acerca5 .div16 h3 {
            font-size: 3.5vw;
            text-align: center; } }

#bodycombinaciones {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: #dff0ec; }
  #bodycombinaciones .sec-comb1 {
    padding-top: 20vh;
    padding-left: 6vw;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/Bosques21.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    #bodycombinaciones .sec-comb1 h1 {
      color: #08a77d;
      text-align: right;
      font-size: 4vw;
      padding-right: 10vw; }
    #bodycombinaciones .sec-comb1 h2 {
      color: #08a77d;
      text-align: right;
      font-size: 1.5vw;
      font-weight: 400;
      padding-right: 10vw; }
  #bodycombinaciones .sec-comb2 {
    background-color: #faecba; }
    #bodycombinaciones .sec-comb2 h2 {
      color: #a92d2b; }
    #bodycombinaciones .sec-comb2 h3 {
      color: #a92d2b; }
  #bodycombinaciones .sec-comb3 {
    background-color: #d7ece7; }
    #bodycombinaciones .sec-comb3 h2 {
      color: #a92d2b; }
    #bodycombinaciones .sec-comb3 h3 {
      color: #a92d2b; }
  #bodycombinaciones .sec-comb4 {
    background-color: #fae8f6; }
    #bodycombinaciones .sec-comb4 h2 {
      color: #831d4a; }
    #bodycombinaciones .sec-comb4 h3 {
      color: #831d4a; }
  @media screen and (max-width: 768px) {
    #bodycombinaciones {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center; }
      #bodycombinaciones .sec-comb1 {
        padding-top: 10vh;
        background-image: url(/img/Bosques2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left; }
        #bodycombinaciones .sec-comb1 h1 {
          font-size: 6vw;
          text-align: left; }
        #bodycombinaciones .sec-comb1 h2 {
          text-align: left;
          font-size: 3.5vw;
          width: 50vw; }
      #bodycombinaciones .sec-comb2, #bodycombinaciones .sec-comb3, #bodycombinaciones .sec-comb4 {
        width: 100vw;
        height: 100vh; }
        #bodycombinaciones .sec-comb2 .img-comb, #bodycombinaciones .sec-comb3 .img-comb, #bodycombinaciones .sec-comb4 .img-comb {
          width: 25vw;
          height: auto; }
        #bodycombinaciones .sec-comb2 .title-comb, #bodycombinaciones .sec-comb3 .title-comb, #bodycombinaciones .sec-comb4 .title-comb {
          font-size: 5.5vw;
          text-align: center;
          width: 85vw; }
        #bodycombinaciones .sec-comb2 .text-comb, #bodycombinaciones .sec-comb3 .text-comb, #bodycombinaciones .sec-comb4 .text-comb {
          font-size: 3.5vw;
          width: 80vw;
          height: auto; }
        #bodycombinaciones .sec-comb2 .h6comb, #bodycombinaciones .sec-comb3 .h6comb, #bodycombinaciones .sec-comb4 .h6comb {
          font-size: 3.5vw;
          color: #831d4a;
          padding-top: 10vh; } }

#bodypedidos {
  background-color: #fae8f6; }
  #bodypedidos section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-content: center;
    align-items: center; }
    #bodypedidos section img {
      width: 20vw;
      height: auto;
      border-radius: 50%;
      box-shadow: 5px 3px 10px #5f4d4d;
      transition: box-shadow .4s; }
      #bodypedidos section img:hover {
        box-shadow: 8px 5px 20px #7e6767;
        transition: box-shadow .4s; }
    #bodypedidos section h1 {
      color: #52161b;
      font-size: 2vw;
      padding: 6vh 0; }
    #bodypedidos section h2 {
      width: 50vw;
      height: auto;
      font-size: 1vw;
      text-align: justify;
      padding-bottom: 4vh; }
    #bodypedidos section a {
      border: 1px solid #831d4a;
      border-radius: 5px;
      background-color: #831d4a;
      color: #dff0ec;
      padding: 7px;
      margin-bottom: 15vh;
      transition: background-color .4s; }
      #bodypedidos section a:hover {
        color: #dff0ec;
        background-color: #52161b;
        transition: background-color .4s; }
  @media screen and (max-width: 768px) {
    #bodypedidos section {
      padding-top: 10vh; }
      #bodypedidos section img {
        width: 30vw;
        height: auto; }
      #bodypedidos section h1 {
        font-size: 5vw;
        width: 70vw;
        text-align: center; }
      #bodypedidos section h2 {
        font-size: 3.5vw;
        width: 80vw; }
      #bodypedidos section a {
        font-size: 3.5vw;
        border-radius: 5px; }
        #bodypedidos section a:hover {
          background-color: #52161b; } }

#bodycontacto {
  background-color: #dff0ec; }
  #bodycontacto .sec-contacto1 {
    margin: 1.5vh 0 5vh 0; }
    #bodycontacto .sec-contacto1 h1 {
      font-weight: 400;
      padding-bottom: 5vh;
      text-align: center;
      font-size: 3.5vw;
      color: #28486f; }
    #bodycontacto .sec-contacto1 h2 {
      font-weight: 400;
      padding: 0.5 0 0.5 0;
      font-size: 1.5vw;
      color: #52161b;
      text-align: center; }
    #bodycontacto .sec-contacto1 a {
      font-weight: 400;
      padding: 0.5 0 0.5 0;
      font-size: 1vw;
      color: #52161b;
      text-align: center; }
  #bodycontacto .sec-contacto2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #bodycontacto .sec-contacto2 .input-group {
      width: 50vw;
      margin: 1vh 0; }
    #bodycontacto .sec-contacto2 .input-group-text {
      background-color: #831d4a;
      color: #fae8f6;
      border: 1px solid #dff0ec;
      font-size: 1vw; }
    #bodycontacto .sec-contacto2 input {
      font-size: 1vw; }
    #bodycontacto .sec-contacto2 textarea {
      font-size: 1vw; }
    #bodycontacto .sec-contacto2 .btn {
      background-color: #fae8f6;
      color: #52161b;
      border: 1px solid #831d4a;
      margin-top: 1.5vh; }
  #bodycontacto .sec-contacto3 {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #bodycontacto .sec-contacto3 h3 {
      text-align: center;
      font-size: 2vw;
      color: #08a77d;
      margin: 10vh 0; }
    #bodycontacto .sec-contacto3 h6 {
      text-align: center;
      width: 25vw;
      font-size: 1vw;
      color: #28486f;
      padding-top: 10vh;
      padding-bottom: 4vh; }
  @media screen and (max-width: 768px) {
    #bodycontacto .sec-contacto1 h1 {
      font-size: 5vh; }
    #bodycontacto .sec-contacto1 h2 {
      font-size: 3.5vw; }
    #bodycontacto .sec-contacto2 .input-group {
      width: 80vw;
      height: auto; }
    #bodycontacto .sec-contacto2 .input-group-text {
      font-size: 3.5vw; }
    #bodycontacto .sec-contacto2 .btn-primary {
      font-size: 3.5vw; }
    #bodycontacto .sec-contacto2 input {
      font-size: 2.5vw; }
    #bodycontacto .sec-contacto2 textarea {
      font-size: 2.5vw; }
    #bodycontacto h3 {
      font-size: 4vw; }
    #bodycontacto .sec-contacto3 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center; }
      #bodycontacto .sec-contacto3 h3 {
        text-align: center;
        font-size: 3.5vw;
        color: #08a77d;
        margin: 10vh 0; }
      #bodycontacto .sec-contacto3 h6 {
        text-align: center;
        width: 76vw;
        font-size: 2.5vw;
        color: #28486f; } }

#bodyindex header, #bodysobremusa header, #bodycombinaciones header, #bodypedidos header, #bodycontacto header {
  text-align: center;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh; }
  #bodyindex header a img, #bodysobremusa header a img, #bodycombinaciones header a img, #bodypedidos header a img, #bodycontacto header a img {
    margin-top: 3vh;
    width: 6vw; }
  #bodyindex header hr.solid, #bodysobremusa header hr.solid, #bodycombinaciones header hr.solid, #bodypedidos header hr.solid, #bodycontacto header hr.solid {
    height: 2px;
    width: auto;
    color: #28486f; }
  #bodyindex header .menudesktop ul, #bodysobremusa header .menudesktop ul, #bodycombinaciones header .menudesktop ul, #bodypedidos header .menudesktop ul, #bodycontacto header .menudesktop ul {
    margin: 0;
    padding: 0; }
    #bodyindex header .menudesktop ul li, #bodysobremusa header .menudesktop ul li, #bodycombinaciones header .menudesktop ul li, #bodypedidos header .menudesktop ul li, #bodycontacto header .menudesktop ul li {
      display: inline;
      padding: 1vh;
      transition: background-color .4s; }
      #bodyindex header .menudesktop ul li:hover, #bodysobremusa header .menudesktop ul li:hover, #bodycombinaciones header .menudesktop ul li:hover, #bodypedidos header .menudesktop ul li:hover, #bodycontacto header .menudesktop ul li:hover {
        background-color: rgba(8, 167, 125, 0.3);
        transition: background-color .4s;
        padding: 0.5vw;
        border-radius: 5px; }
      #bodyindex header .menudesktop ul li a, #bodysobremusa header .menudesktop ul li a, #bodycombinaciones header .menudesktop ul li a, #bodypedidos header .menudesktop ul li a, #bodycontacto header .menudesktop ul li a {
        text-decoration: none;
        color: #52161b;
        font-size: 1vw; }

@media screen and (max-width: 768px) {
  #bodyindex header, #bodysobremusa header, #bodycombinaciones header, #bodypedidos header, #bodycontacto header {
    height: auto; }
    #bodyindex header .menudesktop a img, #bodysobremusa header .menudesktop a img, #bodycombinaciones header .menudesktop a img, #bodypedidos header .menudesktop a img, #bodycontacto header .menudesktop a img {
      width: 15vw; }
    #bodyindex header .menudesktop hr, #bodysobremusa header .menudesktop hr, #bodycombinaciones header .menudesktop hr, #bodypedidos header .menudesktop hr, #bodycontacto header .menudesktop hr {
      display: none; }
    #bodyindex header .menudesktop ul, #bodysobremusa header .menudesktop ul, #bodycombinaciones header .menudesktop ul, #bodypedidos header .menudesktop ul, #bodycontacto header .menudesktop ul {
      display: none; } }

#bodyindex .menumobile, #bodysobremusa .menumobile, #bodycombinaciones .menumobile, #bodypedidos .menumobile, #bodycontacto .menumobile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-content: flex-end;
  width: 10vw; }
  #bodyindex .menumobile button, #bodysobremusa .menumobile button, #bodycombinaciones .menumobile button, #bodypedidos .menumobile button, #bodycontacto .menumobile button {
    border: 0px;
    margin-top: 4vh; }
  #bodyindex .menumobile .offcanvas-header, #bodysobremusa .menumobile .offcanvas-header, #bodycombinaciones .menumobile .offcanvas-header, #bodypedidos .menumobile .offcanvas-header, #bodycontacto .menumobile .offcanvas-header {
    background-color: #d7ece7; }
    #bodyindex .menumobile .offcanvas-header .offcanvas-title, #bodysobremusa .menumobile .offcanvas-header .offcanvas-title, #bodycombinaciones .menumobile .offcanvas-header .offcanvas-title, #bodypedidos .menumobile .offcanvas-header .offcanvas-title, #bodycontacto .menumobile .offcanvas-header .offcanvas-title {
      fill: #831d4a; }
  #bodyindex .menumobile .offcanvas-body, #bodysobremusa .menumobile .offcanvas-body, #bodycombinaciones .menumobile .offcanvas-body, #bodypedidos .menumobile .offcanvas-body, #bodycontacto .menumobile .offcanvas-body {
    background-color: #d7ece7; }
    #bodyindex .menumobile .offcanvas-body .nav-link, #bodysobremusa .menumobile .offcanvas-body .nav-link, #bodycombinaciones .menumobile .offcanvas-body .nav-link, #bodypedidos .menumobile .offcanvas-body .nav-link, #bodycontacto .menumobile .offcanvas-body .nav-link {
      color: #831d4a; }
    #bodyindex .menumobile .offcanvas-body .dropdown-menu, #bodysobremusa .menumobile .offcanvas-body .dropdown-menu, #bodycombinaciones .menumobile .offcanvas-body .dropdown-menu, #bodypedidos .menumobile .offcanvas-body .dropdown-menu, #bodycontacto .menumobile .offcanvas-body .dropdown-menu {
      background-color: #d7ece7;
      margin-bottom: 10px; }
      #bodyindex .menumobile .offcanvas-body .dropdown-menu .dropdown-item, #bodysobremusa .menumobile .offcanvas-body .dropdown-menu .dropdown-item, #bodycombinaciones .menumobile .offcanvas-body .dropdown-menu .dropdown-item, #bodypedidos .menumobile .offcanvas-body .dropdown-menu .dropdown-item, #bodycontacto .menumobile .offcanvas-body .dropdown-menu .dropdown-item {
        color: #831d4a;
        background-color: #d7ece7;
        text-align: center; }
    #bodyindex .menumobile .offcanvas-body .form-control, #bodysobremusa .menumobile .offcanvas-body .form-control, #bodycombinaciones .menumobile .offcanvas-body .form-control, #bodypedidos .menumobile .offcanvas-body .form-control, #bodycontacto .menumobile .offcanvas-body .form-control {
      height: 6vh;
      margin-top: 4vh; }
    #bodyindex .menumobile .offcanvas-body .btn-outline-success, #bodysobremusa .menumobile .offcanvas-body .btn-outline-success, #bodycombinaciones .menumobile .offcanvas-body .btn-outline-success, #bodypedidos .menumobile .offcanvas-body .btn-outline-success, #bodycontacto .menumobile .offcanvas-body .btn-outline-success {
      background-color: #831d4a;
      color: #dff0ec; }

@media screen and (min-width: 768px) {
  #bodyindex .menumobile, #bodysobremusa .menumobile, #bodycombinaciones .menumobile, #bodypedidos .menumobile, #bodycontacto .menumobile {
    display: none; } }

#bodyindex footer, #bodysobremusa footer, #bodycombinaciones footer, #bodypedidos footer, #bodycontacto footer {
  background-color: #831d4a;
  color: #dff0ec; }
  #bodyindex footer svg, #bodysobremusa footer svg, #bodycombinaciones footer svg, #bodypedidos footer svg, #bodycontacto footer svg {
    fill: #dff0ec;
    width: 1vw;
    height: auto;
    transition: fill .4s; }
    #bodyindex footer svg:hover, #bodysobremusa footer svg:hover, #bodycombinaciones footer svg:hover, #bodypedidos footer svg:hover, #bodycontacto footer svg:hover {
      fill: black;
      transition: fill .4s; }
  #bodyindex footer .disclaimer, #bodysobremusa footer .disclaimer, #bodycombinaciones footer .disclaimer, #bodypedidos footer .disclaimer, #bodycontacto footer .disclaimer {
    font-size: 1vw; }

@media screen and (max-width: 768px) {
  #bodyindex footer svg, #bodysobremusa footer svg, #bodycombinaciones footer svg, #bodypedidos footer svg, #bodycontacto footer svg {
    width: 3vw; }
  #bodyindex footer .disclaimer, #bodysobremusa footer .disclaimer, #bodycombinaciones footer .disclaimer, #bodypedidos footer .disclaimer, #bodycontacto footer .disclaimer {
    font-size: 2.5vw; } }

#bodycombinaciones .sec-comb2, #bodycombinaciones .sec-comb3, #bodycombinaciones .sec-comb4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

#bodycombinaciones .sec-comb2 img, #bodycombinaciones .sec-comb3 img, #bodycombinaciones .sec-comb4 img {
  width: 16vw;
  height: auto; }

#bodycombinaciones .sec-comb2 h2, #bodycombinaciones .sec-comb3 h2, #bodycombinaciones .sec-comb4 h2 {
  font-size: 2vw;
  padding: 6vh 0; }

#bodycombinaciones .sec-comb2 h3, #bodycombinaciones .sec-comb3 h3, #bodycombinaciones .sec-comb4 h3 {
  font-size: 1.2vw;
  width: 60vw;
  text-align: center;
  padding: 1.5vh 0; }

#bodycontacto {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center; }

#bodypedidos section a {
  text-decoration: none;
  list-style-type: none; }

#bodyindex .btncomb .btnmoya, #bodysobremusa .btncomb .btnmoya, #bodycombinaciones .btncomb .btnmoya, #bodypedidos .btncomb .btnmoya, #bodycontacto .btncomb .btnmoya, #bodyindex .btncomb .btnbayana, #bodysobremusa .btncomb .btnbayana, #bodycombinaciones .btncomb .btnbayana, #bodypedidos .btncomb .btnbayana, #bodycontacto .btncomb .btnbayana, #bodyindex .btncomb .btncayena, #bodysobremusa .btncomb .btncayena, #bodycombinaciones .btncomb .btncayena, #bodypedidos .btncomb .btncayena, #bodycontacto .btncomb .btncayena {
  border: 0px;
  padding: 1vh 1.5vw 2vw 1.5vw;
  background-color: rgba(255, 255, 255, 1e-06); }

#bodycombinaciones .sec-comb2 h6, #bodycombinaciones .sec-comb3 h6, #bodycombinaciones .sec-comb4 h6 {
  font-size: 1vw;
  color: #831d4a;
  padding-top: 10vh; }

#bodyindex .-btn, #bodysobremusa .-btn, #bodycombinaciones .-btn, #bodypedidos .-btn, #bodycontacto .-btn {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10vh 0;
  padding: 3vh 0;
  width: 100vw;
  height: auto; }
  #bodyindex .-btn h4, #bodysobremusa .-btn h4, #bodycombinaciones .-btn h4, #bodypedidos .-btn h4, #bodycontacto .-btn h4 {
    text-align: center;
    font-size: 2vw;
    color: #08a77d;
    padding: 4vh 2vw; }
  #bodyindex .-btn a, #bodysobremusa .-btn a, #bodycombinaciones .-btn a, #bodypedidos .-btn a, #bodycontacto .-btn a {
    text-decoration: none;
    color: #dff0ec;
    font-size: 1vw;
    background-color: #831d4a;
    transition: background-color .4s;
    padding: 1vh 2vw;
    border-radius: 5px; }
    #bodyindex .-btn a:hover, #bodysobremusa .-btn a:hover, #bodycombinaciones .-btn a:hover, #bodypedidos .-btn a:hover, #bodycontacto .-btn a:hover {
      color: #dff0ec;
      background-color: #52161b;
      transition: background-color .4s; }

#bodyindex .btn-to-top, #bodysobremusa .btn-to-top, #bodycombinaciones .btn-to-top, #bodypedidos .btn-to-top, #bodycontacto .btn-to-top {
  border: 0px;
  margin-bottom: 3vh;
  align-self: center;
  margin-left: 49.5%; }

#bodyindex .btncomb, #bodysobremusa .btncomb, #bodycombinaciones .btncomb, #bodypedidos .btncomb, #bodycontacto .btncomb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center; }
  #bodyindex .btncomb .btnmoya svg, #bodysobremusa .btncomb .btnmoya svg, #bodycombinaciones .btncomb .btnmoya svg, #bodypedidos .btncomb .btnmoya svg, #bodycontacto .btncomb .btnmoya svg {
    border-radius: 50%;
    fill: #d9b5d3;
    transition: fill .4s; }
    #bodyindex .btncomb .btnmoya svg:hover, #bodysobremusa .btncomb .btnmoya svg:hover, #bodycombinaciones .btncomb .btnmoya svg:hover, #bodypedidos .btncomb .btnmoya svg:hover, #bodycontacto .btncomb .btnmoya svg:hover {
      fill: #dfb2fd;
      transition: fill .4s; }
  #bodyindex .btncomb .btnbayana svg, #bodysobremusa .btncomb .btnbayana svg, #bodycombinaciones .btncomb .btnbayana svg, #bodypedidos .btncomb .btnbayana svg, #bodycontacto .btncomb .btnbayana svg {
    border-radius: 50%;
    fill: #c9e0b6;
    transition: fill .4s; }
    #bodyindex .btncomb .btnbayana svg:hover, #bodysobremusa .btncomb .btnbayana svg:hover, #bodycombinaciones .btncomb .btnbayana svg:hover, #bodypedidos .btncomb .btnbayana svg:hover, #bodycontacto .btncomb .btnbayana svg:hover {
      fill: #d6fcba;
      transition: fill .4s; }
  #bodyindex .btncomb .btncayena svg, #bodysobremusa .btncomb .btncayena svg, #bodycombinaciones .btncomb .btncayena svg, #bodypedidos .btncomb .btncayena svg, #bodycontacto .btncomb .btncayena svg {
    border-radius: 50%;
    fill: #fad95d;
    transition: fill .4s; }
    #bodyindex .btncomb .btncayena svg:hover, #bodysobremusa .btncomb .btncayena svg:hover, #bodycombinaciones .btncomb .btncayena svg:hover, #bodypedidos .btncomb .btncayena svg:hover, #bodycontacto .btncomb .btncayena svg:hover {
      fill: #ffe896;
      transition: fill .4s; }

@media screen and (max-width: 768px) {
  #bodyindex .-btn h4, #bodysobremusa .-btn h4, #bodycombinaciones .-btn h4, #bodypedidos .-btn h4, #bodycontacto .-btn h4 {
    font-size: 4.5vw; }
  #bodyindex .-btn a, #bodysobremusa .-btn a, #bodycombinaciones .-btn a, #bodypedidos .-btn a, #bodycontacto .-btn a {
    font-size: 3.5vw; }
    #bodyindex .-btn a:hover, #bodysobremusa .-btn a:hover, #bodycombinaciones .-btn a:hover, #bodypedidos .-btn a:hover, #bodycontacto .-btn a:hover {
      color: #dff0ec;
      background-color: #52161b; }
  #bodyindex .btn-to-top, #bodysobremusa .btn-to-top, #bodycombinaciones .btn-to-top, #bodypedidos .btn-to-top, #bodycontacto .btn-to-top {
    border: 0px;
    margin-bottom: 3vh;
    align-self: center;
    margin-left: 46%; } }
