* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

#bodyindex {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: #dff0ec; }
  #bodyindex .section1 {
    display: flex;
    justify-content: left;
    align-content: center;
    justify-items: flex-start;
    align-items: flex-start;
    text-align: center;
    padding-top: 8vh;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/bosqueslinea.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #bodyindex .section1 .div1 {
      margin-left: 15vh;
      padding: 3vh; }
      #bodyindex .section1 .div1 h1 {
        font-style: italic;
        font-size: 13vh;
        color: #52161b; }
      #bodyindex .section1 .div1 h3 {
        font-size: 5vh;
        color: #7d1b25;
        font-style: italic; }
  #bodyindex .section2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #fae8f6; }
    #bodyindex .section2 .div2 {
      width: 50vw;
      height: auto; }
      #bodyindex .section2 .div2 h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2vh;
        color: #7d1b25;
        padding-bottom: 8vh;
        padding-top: 4vw; }
        #bodyindex .section2 .div2 h2:hover {
          font-size: 2vh;
          transition-duration: 300ms;
          animation-name: rollout;
          animation-duration: 300ms; }
      #bodyindex .section2 .div2 h3 {
        font-size: 2vh;
        color: #7d1b25;
        padding: 0 5vw; }
    #bodyindex .section2 .div3 img {
      width: 50vw;
      height: fit-content; }
  #bodyindex .section3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 20vh;
    margin: 10vh 0vh;
    padding: 10vh 0vh; }
    #bodyindex .section3 h2 {
      font-size: 6vh;
      color: #28486f;
      padding-bottom: 3vh; }
      #bodyindex .section3 h2:hover {
        font-size: 2vh;
        transition-duration: 300ms;
        animation-name: rollout;
        animation-duration: 300ms; }
    #bodyindex .section3 h4 {
      font-size: 3vh;
      color: #28486f; }
  #bodyindex .section4, #bodyindex .section5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #fae8f6;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh; }
    #bodyindex .section4 .div4, #bodyindex .section4 .div7, #bodyindex .section5 .div4, #bodyindex .section5 .div7 {
      width: 100vw; }
      #bodyindex .section4 .div4 h2, #bodyindex .section4 .div7 h2, #bodyindex .section5 .div4 h2, #bodyindex .section5 .div7 h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2vh;
        color: #7d1b25;
        padding-bottom: 8vh; }
        #bodyindex .section4 .div4 h2:hover, #bodyindex .section4 .div7 h2:hover, #bodyindex .section5 .div4 h2:hover, #bodyindex .section5 .div7 h2:hover {
          font-size: 2vh;
          transition-duration: 300ms;
          animation-name: rollout;
          animation-duration: 300ms; }
      #bodyindex .section4 .div4 h3, #bodyindex .section4 .div7 h3, #bodyindex .section5 .div4 h3, #bodyindex .section5 .div7 h3 {
        text-align: left;
        font-size: 2vh;
        color: #7d1b25;
        padding: 0 5vw; }
    #bodyindex .section4 .div5 img, #bodyindex .section4 .div6 img, #bodyindex .section5 .div5 img, #bodyindex .section5 .div6 img {
      width: 46vw;
      height: auto; }

#bodysobremusa {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: #fae8f6; }
  #bodysobremusa .sec-acerca1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #dff0ec; }
    #bodysobremusa .sec-acerca1 .div8 img {
      width: 50vw;
      height: auto; }
    #bodysobremusa .sec-acerca1 .div9 {
      padding: 0 5vw;
      width: 50vw;
      height: auto; }
      #bodysobremusa .sec-acerca1 .div9 h1 {
        text-align: center;
        font-size: 2vh;
        color: #28486f;
        padding-bottom: 4vh; }
      #bodysobremusa .sec-acerca1 .div9 h2 {
        text-align: left;
        font-size: 2vh;
        color: #28486f;
        padding-bottom: 3vh; }
  #bodysobremusa .sec-acerca2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    text-align: center;
    align-items: stretch;
    width: 100vw;
    height: 40vh;
    text-align: center;
    background-image: url(/img/palma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #bodysobremusa .sec-acerca2 .div10 h2 {
      padding-top: 8vh;
      padding-bottom: 3vh;
      color: #fad95d;
      font-size: 8vh; }
    #bodysobremusa .sec-acerca2 .div10 h3 {
      padding-bottom: 8vh;
      color: #fad95d;
      font-size: 3vh; }
  #bodysobremusa .sec-acerca3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    border: 1px solid black; }
    #bodysobremusa .sec-acerca3 .div11 {
      width: 50vw;
      height: auto;
      padding: 0 5vw 0 5vw; }
      #bodysobremusa .sec-acerca3 .div11 img {
        width: 40vw;
        height: 50vh; }
    #bodysobremusa .sec-acerca3 .div12 {
      padding: 3vw 5vw 0 5vw;
      background-color: #98ede3;
      width: 50vw;
      height: auto; }
      #bodysobremusa .sec-acerca3 .div12 h2 {
        font-size: 1vh;
        color: #52161b; }
      #bodysobremusa .sec-acerca3 .div12 h3 {
        text-align: left;
        font-size: 2vh;
        color: #28486f;
        padding-bottom: 3vh; }
    #bodysobremusa .sec-acerca3 .sec-acerca4 .div13 .p-acerca1 h2 {
      font-size: 1vh;
      color: #52161b; }
    #bodysobremusa .sec-acerca3 .sec-acerca4 .div13 .p-acerca1 h3 {
      text-align: left;
      font-size: 2vh;
      color: #28486f;
      padding-bottom: 3vh; }
    #bodysobremusa .sec-acerca3 .sec-acerca4 .div14 {
      width: 40vw;
      height: 50vh; }
    #bodysobremusa .sec-acerca3 .sec-acerca5 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center; }
      #bodysobremusa .sec-acerca3 .sec-acerca5 .div15 img {
        width: 40vw;
        height: 50vh; }
    #bodysobremusa .sec-acerca3 .div16 .p-acerca2 h2 {
      font-size: 1vh;
      color: #52161b; }
    #bodysobremusa .sec-acerca3 .div16 .p-acerca2 h3 {
      text-align: left;
      font-size: 2vh;
      color: #28486f;
      padding-bottom: 3vh; }

#bodycontacto {
  background-color: #dff0ec; }
  #bodycontacto .sec-contacto1 {
    margin: 1.5vh 0 5vh 0; }
    #bodycontacto .sec-contacto1 h1 {
      font-weight: 400;
      margin-bottom: 5vh;
      text-align: center;
      font-size: 6vh;
      color: #28486f; }
    #bodycontacto .sec-contacto1 h2 {
      font-weight: 400;
      padding: 0.5 0 0.5 0;
      font-size: 2vh;
      color: #52161b;
      text-align: center; }
    #bodycontacto .sec-contacto1 a {
      font-weight: 400;
      padding: 0.5 0 0.5 0;
      font-size: 2vh;
      color: #52161b;
      text-align: center; }
  #bodycontacto .sec-contacto2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #bodycontacto .sec-contacto2 .input-group {
      width: 50vw; }
    #bodycontacto .sec-contacto2 .input-group-text {
      background-color: #7d1b25;
      color: #fae8f6;
      border: 1px solid #dff0ec; }
    #bodycontacto .sec-contacto2 h2 {
      color: #7d1b25;
      padding: 6vh 0 10vh 0; }
    #bodycontacto .sec-contacto2 h3 {
      font-size: 3vh;
      color: #7d1b25;
      padding: 6vh 0 10vh 0; }
    #bodycontacto .sec-contacto2 .btn {
      background-color: #fae8f6;
      color: #52161b;
      margin: 1.5vh 0;
      border: 1px solid #7d1b25; }

#bodyindex header, #bodysobremusa header, #bodycombinaciones header, #bodypedidos header, #bodycontacto header {
  text-align: center;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  grid-area: header; }
  #bodyindex header a img, #bodysobremusa header a img, #bodycombinaciones header a img, #bodypedidos header a img, #bodycontacto header a img {
    margin-top: 3vh;
    width: 6vw; }
  #bodyindex header hr.solid, #bodysobremusa header hr.solid, #bodycombinaciones header hr.solid, #bodypedidos header hr.solid, #bodycontacto header hr.solid {
    height: 2px;
    width: 100vw;
    color: #28486f; }
  #bodyindex header .menudesktop ul, #bodysobremusa header .menudesktop ul, #bodycombinaciones header .menudesktop ul, #bodypedidos header .menudesktop ul, #bodycontacto header .menudesktop ul {
    margin: 0;
    padding: 0; }
    #bodyindex header .menudesktop ul li, #bodysobremusa header .menudesktop ul li, #bodycombinaciones header .menudesktop ul li, #bodypedidos header .menudesktop ul li, #bodycontacto header .menudesktop ul li {
      display: inline;
      padding: 1vh; }
      #bodyindex header .menudesktop ul li:hover, #bodysobremusa header .menudesktop ul li:hover, #bodycombinaciones header .menudesktop ul li:hover, #bodypedidos header .menudesktop ul li:hover, #bodycontacto header .menudesktop ul li:hover {
        background-color: rgba(8, 167, 125, 0.3);
        transition-duration: 800ms;
        padding: 0.5vw; }
      #bodyindex header .menudesktop ul li a, #bodysobremusa header .menudesktop ul li a, #bodycombinaciones header .menudesktop ul li a, #bodypedidos header .menudesktop ul li a, #bodycontacto header .menudesktop ul li a {
        text-decoration: none;
        color: #52161b;
        font-size: 2vh; }

#bodyindex .menumobile, #bodysobremusa .menumobile, #bodycombinaciones .menumobile, #bodypedidos .menumobile, #bodycontacto .menumobile {
  display: none; }

.container {
  grid-area: footer; }

#bodycontacto {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center; }

.btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 8vh;
  width: 100vw; }
  .btn h4 {
    text-align: center;
    font-size: 3vh;
    color: #08a77d;
    padding: 4vh 6vw;
    width: 80vw;
    height: auto; }
  .btn a {
    text-decoration: none;
    color: #dff0ec;
    font-size: 1vh;
    background-color: #7d1b25;
    padding: 1vh 1vw; }
    .btn a:hover {
      color: #dff0ec;
      background-color: #52161b; }
