@mixin flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
@mixin flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
@mixin fonts {
  font-family: 'Ubuntu', sans-serif;
}
@mixin indextitle {
  display: flex;
  flex-wrap: nowrap;
}
@mixin background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
