#bodyindex, #bodysobremusa, #bodycombinaciones, #bodypedidos, #bodycontacto{
    .-btn{
        @include fonts;
        @include flexcolumn;
        align-items: center;
        margin: $height10 0;
        padding: $height3 0 ;
        width: $width100;
        height: $heightauto;
        h4{
            text-align: center;
            font-size: $font-size2;
            color: $color3;
            padding: $size10 $font-size2;
            }
        a{
            text-decoration: none;
            color: $colorclaro;
            font-size: $font-size4;
            background-color: $color1;
            padding: 1vh 2vw;
            border-radius: 5px;
            &:hover{
                color: $colorclaro; 
                background-color: $coloroscuro;
            }
        }
    }
    .btn-to-top{
        border: 0px;
        margin-bottom: $height3;
        align-self: center;
        margin-left: 49%;
    }
    @media screen and (max-width: 768px){
        .-btn{
            h4{
                font-size: $height3;
                }
            a{
                font-size: $font-size3;
                &:hover{
                    color: $colorclaro; 
                    background-color: $coloroscuro;
                }
            }
        }
    }
}


