%comb-section {
  @include flexcolumn;
  align-items: center;
  height: $height100;
  width: $width100;
}
%img-comb {
  width: (20vw -$size2);
  height: $heightauto;
}
%h2-comb {
  font-size: $font-size2;
  padding: $size3 0;
}
%h3-comb {
  font-size: $font-size4 +0.2vw;
  width: $width50 + $width10;
  text-align: center;
  padding: $size8 0;
}
%body {
  @include fonts;
  @include flexcolumn;
}
%textdeco {
  text-decoration: none;
  list-style-type: none;
}
%btncomb{
  border: 0px;
  padding: $size1 $size7 $font-size2 $size7;
  background-color: rgba(255, 255, 255, 0.000001);
}
%h6comb{
  font-size: $size7 -$size9;
  color: $color1;
  padding-top: $height10;
}