$color1: rgb(125, 27, 37);
$color2: rgb(250, 217, 93);
$color3: rgb(8, 167, 125);
$color4: rgb(250, 232, 246);
$color5: rgb(40, 72, 111);
$color6: rgb(169, 45, 43);
$color7: rgb(152, 237, 227);
$colorclaro: rgb(223, 240, 236);
$coloroscuro: rgb(82, 22, 27);
$black: rgb(0, 0, 0);
