$width80: 80vw;
$width50: 50vw;
$width100: 100vw;
$width10: 10vw;
$font-size2: 2vw;
$font-size4: 1vw;
$heightauto: auto;
$height10: 10vh;
$height3: 3vh;
$height100: 100vh;
$size1: 1vh;
$size2: 4vw;
$size3: 6vh;
$size4: 8vh;
$size7: 1.5vw;
$size8: 1.5vh;
$size10: 4vh;
$size11: 6vw;
$size12: 3vw;
$weight: 400;
$text-shadow: 0 0 5px rgb(31, 25, 25);
