$width80: 80vw;
$width50: 50vw;
$width95: 95vw;
$width100: 100vw;
$width10: 10vw;
$font-size1: 1vw;
$font-size3: 2vw;
$heightauto: auto;
$height10: 10vh;
$height3: 3vh;
$height100: 100vh;
$height50: 50vh;
$height200: 200vh;
$size4: 8vh;
$size2: 4vw;
$size3: 6vh;
$size1: 1vh;
$size5: 20vh;
$size6: 20vw;