#bodycombinaciones {
  @include fonts;
  @include flexcolumn;
  background-color: $colorclaro;
  .sec-comb1 {
    padding-top: $height10 *2;
    padding-left: 6vw;
    width: $width100;
    height: $height100;
    background-image: url(/img/Bosques21.png);
    @include background;
    background-position:center;
    h1 {
      color: rgb(250, 217, 93);
      text-align: right;
      font-size: $size2;
      font-family: 'Lobster Two', cursive;
      text-shadow: $shadow;
      transition: text-shadow .4s;
      padding-right: $width10;
      &:hover{
        text-shadow: $shadow-hover;
        transition: text-shadow .4s;
      }
    }
    h2 {
      color: rgb(250, 217, 93);
      text-align: right;
      font-size: 1.2vw;
      font-weight: $weight;
      padding-right: $width10;
      text-shadow: 0.5px 0.5px 1px rgb(31, 25, 25);
    }
  }
  .sec-comb2 {
    @extend %comb-section;
    background-color: $color2;
    img {
      @extend %img-comb;
    }
    h2 {
      @extend %h2-comb;
      color: $color6;
    }
    h3 {
      @extend %h3-comb;
      color: $color6;
    }
    h6{
      @extend %h6comb;
    }
  }
  .sec-comb3 {
    @extend %comb-section;
    background-color: $color7;
    img {
      @extend %img-comb;
    }
    h2 {
      @extend %h2-comb;
      color: $color6;
    }
    h3 {
      @extend %h3-comb;
      color: $color6;
    }
    h6{
      @extend %h6comb;
    }
  }
  .sec-comb4 {
    @extend %comb-section;
    background-color: $color4;
    img {
      @extend %img-comb;
    }
    h2 {
      @extend %h2-comb;
      color: $color1;
    }
    h3 {
      @extend %h3-comb;
      color: $color1;
    }
    h6{
      @extend %h6comb;
    }
  }
  @media screen and (max-width: 768px) {
    @include flexcolumn;
    .sec-comb1 {
      padding-top: $height10;
      background-image: url(/img/Bosques2.png);
      @include background;
      background-position:left;
      h1 {
        color: $coloroscuro;
        font-size: $size11;
        text-align: left;
        text-shadow: none;
      }
      h2 {
        color: $coloroscuro;
        text-align: left;
        font-size: $size12;
        text-shadow: none;
        width: $width50;
      }
    }
    .sec-comb2,.sec-comb3,.sec-comb4 {
      width: $width100;
      height: $height100;
      .img-comb {
        width: $width10 * 2.5;
        height: $heightauto;
      }
      .title-comb {
        font-size: $size2 +$size7;
        text-align: center;
        width: $width80 +$size5;
      }
      .text-comb {
        font-size: $size12;
        width: $width80;
        height: $heightauto;
      }
      .h6comb{
        font-size: $size12;
        color: $color1;
        padding-top: $height10;
      }
    }
  }
}
