#bodycontacto{
    @extend %body;
    background-color: $colorclaro;
    .sec-contacto1{
        margin: $size8 0 5vh 0;
        h1{
            font-weight: $weight;
            padding-bottom: 5vh;
            text-align: center;
            font-size: $size12;
            color: $color5;
        }
        h2{
            font-weight: $weight;
            padding: 0.5 0 0.5 0 ;
            font-size: $size7;
            color: $coloroscuro;
            text-align: center;
        }
        a{
            font-weight: $weight;
            padding: 0.5 0 0.5 0 ;
            font-size: $font-size4;
            color: $coloroscuro;
            text-align: center;
        }
    }
    .sec-contacto2{
        @include flexcolumn;
        align-items: center;
        .input-group{
             width: $width50;
             margin: $size1 0;
        }
        .input-group-text{
            background-color: $color1;
            color: $color4;
            border: 1px solid $colorclaro;
            font-size: $font-size4;
        }
        input{
            font-size: $font-size4;
        }
        textarea{
            font-size: $font-size4;
        }
        .btn{
            background-color: $color4;
            color: $coloroscuro;
            border: 1px solid $color1;
            margin-top: $size8;
        }
    }
    h3{
        text-align: center;
        font-size: $size12;
        color: $color3;
        margin: $height10 0;
    }
}