#bodycontacto {
  @extend %body;
  background-color: $colorclaro;
  .sec-contacto1 {
    margin: $size8 0 5vh 0;
    h1 {
      font-weight: $weight;
      padding-bottom: 5vh;
      text-align: center;
      font-size: $size12;
      color: $color5;
    }
    h2 {
      font-weight: $weight;
      padding: 0.5 0 0.5 0;
      font-size: $size7;
      color: $coloroscuro;
      text-align: center;
    }
    a {
      font-weight: $weight;
      padding: 0.5 0 0.5 0;
      font-size: $font-size4;
      color: $coloroscuro;
      text-align: center;
    }
  }
  .sec-contacto2 {
    @include flexcolumn;
    align-items: center;
    .input-group {
      width: $width50;
      margin: $size1 0;
    }
    .input-group-text {
      background-color: $color1;
      color: $color4;
      border: 1px solid $colorclaro;
      font-size: $font-size4;
    }
    input {
      font-size: $font-size4;
    }
    textarea {
      font-size: $font-size4;
    }
    .btn {
      background-color: $color4;
      color: $coloroscuro;
      border: 1px solid $color1;
      margin-top: $size8;
    }
  }
  .sec-contacto3{
    @include fonts;
    @include flexcolumn;
    align-items: center;
    h3 {
      text-align: center;
      font-size: $font-size2;
      color: $color3;
      margin: $height10 0;
    }
    h6{
      text-align: center;
      width: 25vw;
      font-size: $font-size4;
      color: $color5;
      padding-top: $height10;
      padding-bottom: $size10;
    }
  }
  @media screen and (max-width: 768px) {
    .sec-contacto1 {
      h1 {
        font-size: 5vh;
      }
      h2 {
        font-size: $size12;
      }
    }
    .sec-contacto2 {
      .input-group {
        width: $width80;
        height: $heightauto;
      }
      .input-group-text {
        font-size: $size12;
      }
      .btn-primary {
        font-size: $size12;
      }
      input {
        font-size: $font-size2 + 0.5vw;
      }
      textarea {
        font-size: $font-size2 + 0.5vw;
      }
    }
    h3 {
      font-size: $size2;
    }
    .sec-contacto3{
      @include flexcolumn;
      align-items: center;
      h3 {
        text-align: center;
        font-size: $size12;
        color: $color3;
        margin: $height10 0;
      }
      h6{
        text-align: center;
        width: $width80 -$size2;
        font-size: $font-size2 +0.5vw;
        color: $color5;
      }
    }
  }
}
