#bodyindex {
  @include fonts;
  @include flexcolumn;
  background-color: $colorclaro;
  .section1 {
    @include indextitle;
    padding-top: $size4;
    padding-left: 6vw;
    width: auto;
    height: $height100;
    background-image: url(/img/bosqueslinea.png);
    @include background;
    background-position: center;
    .div1 {
      h1 {
        font-family: 'Lobster Two', cursive;
        text-align: right;
        font-style: italic;
        font-size: $size11;
        color: $colorclaro;
        text-shadow: $shadow;
        transition: text-shadow .4s;
        &:hover{
          color: white;
          text-shadow: $shadow-hover;
          transition: all .4s;
        }
      }
      h2 {
        font-family: 'Lobster Two', cursive;
        font-size: $font-size2;
        text-align: center;
        color: $colorclaro;
        text-shadow: $shadow;
        font-style: italic;
        font-weight: $weight;
      }
    }
  }
  .section2 {
    @include fonts;
    @include flexrow;
    align-items: center;
    text-align: center;
    background-color: $color4;
    .div2 {
      width: $width50;
      height: $heightauto;
      h2 {
        @include fonts;
        font-size: $size7;
        font-weight: 600;
        color: $color1;
        padding-bottom: $size4;
        padding-top: $size2;
        transition: font-size .4s;
        &:hover {
          font-size: $font-size2;
          transition: font-size .4s;
        }
      }
      h3 {
        font-size: $font-size4;
        color: $color1;
        padding: 0 $size5;
        text-align: justify;
      }
    }
    .div3 {
      img {
        width: $width50;
        height: fit-content;
      }
    }
  }
  .section3 {
    @include flexcolumn;
    @include fonts;
    align-items: center;
    text-align: center;
    width: auto;
    height: $height10 *3.5;
    padding: $height10 0vh;
    background-image: url(/img/palmas2.png);
    @include background;
    background-position: bottom;
    h2 {
      font-family: 'Lobster Two', cursive;
      font-size: $size2;
      color: $coloroscuro;
      padding-bottom: $height3;
      transition: font-size .4s;
      &:hover {
        font-size: $size2 +$size9;
        transition: font-size .4s;
      }
    }
    h3 {
      font-family: 'Lobster Two', cursive;
      font-size: $font-size2;
      color: $coloroscuro;
      transition: font-size .4s;
      &:hover {
        font-size: $font-size2 +$size9;
        transition: font-size .4s;
      }
    }
  }
  .section4, .section5 {
    @include fonts;
    @include flexrow;
    align-items: center;
    text-align: center;
    background-color: $color4;
    .div4, .div7 {
      width: $width100;
      h2 {
        @include fonts;
        font-weight: 600;
        font-size: $size7;
        color: $color1;
        padding-bottom: $size4;
        transition: font-size .4s;
        &:hover {
          font-size: $font-size2;
          transition: font-size .4s;
        }
      }
      h3 {
        text-align: left;
        font-size: $font-size4;
        color: $color1;
        padding: 0 $size5;
      }
    }
    .div5, .div6 {
      img {
        width: $width50;
        height: $heightauto;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .section1 {
      @include indextitle;
      .div1 {
        h1 {
          font-size: $width10;
          text-align: left;
          text-shadow: $shadow;
        }
        h2 {
          font-size: $size2;
          text-align: center;
          text-shadow: $shadow;
        }
      }
    }
    .section3 {
      h2 {
        font-size: $size11;
        transition: font-size .4s;
      }
      h3 {
          font-size: $size2;
      }
   }
    .section2, .section4, .section5 {
      @include flexcolumn;
      width: $width100;
      height: $heightauto;
      .div2, .div4, .div7 {
        width: $width80;
        height: $heightauto;
        h2 {
          font-size: $size11;
          padding: $height10 0 $height3 0;
          transition: font-size .4s;
          &:hover {
            font-size: 6.3vw;
            transition: font-size .4s;
          }
        }
        h3 {
          font-size: $size12;
          text-align: center;
          padding-bottom: $size4;
        }
      }
      .div3 {
        padding-bottom: $height3;
        img {
          width: $width100;
          height: $heightauto;
        }
      }
      .div5, .div6 {
        margin: $height3 0;
        img {
          width: $width80;
          height: $heightauto;
        }
      }
    }
  }
}
