#bodyindex {
  @include fonts;
  @include flexcolumn;
  background-color: $colorclaro;
  .section1 {
    @include indextitle;
    padding-top: $size4;
    padding-left: 6vw;
    width: auto;
    height: $height100;
    background-image: url(/img/bosqueslinea.JPG);
    @extend %background;
    .div1 {
      h1 {
        text-align: right;
        font-style: italic;
        font-size: $size11;
        color: $colorclaro;
        text-shadow: $text-shadow;
      }
      h2 {
        font-size: $font-size2;
        text-align: center;
        color: $colorclaro;
        text-shadow: $text-shadow;
        font-style: italic;
        font-weight: $weight;
      }
    }
  }
  .section2 {
    @include fonts;
    @include flexrow;
    align-items: center;
    text-align: center;
    background-color: $color4;
    .div2 {
      width: $width50;
      height: $heightauto;
      h2 {
        @include fonts;
        font-size: $font-size2;
        color: $color1;
        padding-bottom: $size4;
        padding-top: $size2;
        &:hover {
          font-size: 2.5vw;
          transition-duration: 300ms;
        }
      }
      h3 {
        font-size: $font-size4;
        color: $color1;
        padding: 0 5vw;
        text-align: justify;
      }
    }
    .div3 {
      img {
        width: $width50;
        height: fit-content;
      }
    }
  }
  .section3 {
    @include flexcolumn;
    @include fonts;
    align-items: center;
    text-align: center;
    width: $width100;
    height: 40vh;
    padding: $height10 0vh;
    h2 {
      font-size: $size2;
      color: $color5;
      padding-bottom: $height3;
      &:hover {
        font-size: 5vw;
        transition-duration: 300ms;
      }
    }
    h4 {
      font-size: $font-size2;
      color: $color5;
    }
  }
  .section4, .section5 {
    @include fonts;
    @include flexrow;
    align-items: center;
    text-align: center;
    background-color: $color4;
    .div4, .div7 {
      width: $width100;
      h2 {
        @include fonts;
        font-size: $font-size2;
        color: $color1;
        padding-bottom: $size4;
        &:hover {
          font-size: $size12;
          transition-duration: 300ms;
        }
      }
      h3 {
        text-align: left;
        font-size: $font-size4;
        color: $color1;
        padding: 0 5vw;
      }
    }
    .div5, .div6 {
      img {
        width: 49.6vw;
        height: $heightauto;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .section1 {
      @include indextitle;
      .div1 {
        h1 {
          font-size: $width10;
          text-align: left;
          text-shadow: $text-shadow;
        }
        h2 {
          font-size: $size2;
          text-align: center;
          text-shadow: $text-shadow;
        }
      }
    }
    .section3 {
      h2 {
        font-size: $size11;
        &:hover {
          font-size: 6.5vw;
          transition-duration: 300ms;
        }
      }
      h3 {
        font-size: $size2;
        color: $color5;
      }
    }
    .section2, .section4, .section5 {
      @include flexcolumn;
      width: $width100;
      height: $heightauto;
      .div2, .div4, .div7 {
        width: $width80;
        height: $heightauto;
        h2 {
          font-size: $size11;
          padding: $height10 0 $height3 0;
          &:hover {
            font-size: 6.3vw;
            transition-duration: 300ms;
          }
        }
        h3 {
          font-size: $size12;
          text-align: justify;
          padding-bottom: $size4;
        }
      }
      .div3 {
        padding-bottom: $height3;
        img {
          width: $width80;
          height: $heightauto;
        }
      }
      .div5, .div6 {
        margin: $height3 0;
        img {
          width: $width80;
          height: $heightauto;
        }
      }
    }
  }
}
