#bodypedidos {
  background-color: $color4;
  section {
    @include flexcolumn;
    align-content: center;
    align-items: center;
    img {
      width: $width10 * 2;
      height: $heightauto;
      border-radius: 50%;
      box-shadow: 0 0 10px rgb(31, 25, 25);
    }
    h1 {
      color: $coloroscuro;
      font-size: $font-size2;
      padding: $size3 0;
    }
    h2 {
      width: $width50;
      height: $heightauto;
      font-size: $font-size4;
      text-align: justify;
      padding-bottom: $size10;
    }
    a {
      border: 1px solid $color1;
      border-radius: 5px;
      @extend %textdeco;
      background-color: $color1;
      color: $colorclaro;
      padding: 7px;
      margin-bottom: 15vh;
      &:hover {
        background-color: $coloroscuro;
      }
    }
  }
  @media screen and (max-width: 768px) {
    section {
      padding-top: $height10;
      img {
        width: 30vw;
        height: $heightauto;
      }
      h1 {
        font-size: $size5;
        width: $width80 -$width10;
        text-align: center;
      }
      h2 {
        font-size: $size12;
        width: $width80;
      }
      a{
        font-size: $size12;
        border-radius: 5px;
      &:hover {
        background-color: $coloroscuro;
      }
      }
    }
  }
}
