#bodysobremusa {
  @include fonts;
  @include flexcolumn;
  background-color: $color4;
  .sec-acerca1 {
    @include fonts;
    @include flexrow;
    align-items: center;
    background-color: $colorclaro;
    height: $heightauto;
    .div8 {
      img {
        width: $width50;
        height: $heightauto;
      }
    }
    .div9 {
      padding: 0 $size5;
      width: $width50;
      height: $heightauto;
      h1 {
        text-align: center;
        font-size: $font-size2;
        transition: font-size .4s;
        color: $color5;
        padding-bottom: $height3 + $size1;
        &:hover{
          font-size: $font-size2 +$size9;
          transition: font-size .4s;
        }
      }
      h2 {
        text-align: left;
        font-size: $font-size4;
        color: $color5;
        padding-bottom: $height3;
      }
    }
  }
  .sec-acerca2 {
    @include flexcolumn;
    height: 40vh;
    text-align: center;
    align-items: stretch;
    width: auto;
    height: $height10 *3.5;
    text-align: center;
    background-image: url(/img/palmas2.png);
    @include background;
    background-position: center;
    .div10 {
      h2 {
        font-family: 'Lobster Two', cursive;
        padding-top: $size4;
        padding-bottom: $height3;
        color: $coloroscuro;
        font-size: $size2 +$size9;
        transition: font-size .4s;
        &:hover{
          font-size: $size5 +$size9;
          transition: font-size .4s;
        }
      }
      h3 {
        font-family: 'Lobster Two', cursive;
        padding-bottom: $size4;
        color: $coloroscuro;
        font-size: $size7;
        transition: font-size .4s;
        &:hover{
          font-size: $size7 +$size9;
          transition: font-size .4s;
        }
      }
    }
  }
  .sec-acerca3, .sec-acerca4, .sec-acerca5 {
    @include flexrow;
    align-items: center;
    margin: 5vh 0;
    height: $heightauto;
    .div11, .div14, .div15 {
      border: 15px solid $color4;
      img {
        border-radius: 5px;
        width: 30vw;
        height: 60vh;
      }
    }
    .div12, .div13, .div16 {
      background-color: $colorclaro;
      border: 1px solid rgb(204, 231, 225);
      width: 30vw;
      height: 60vh;
      border-radius: 5px;
      h2 {
        padding: $height10 5vw $height3 5vw;
        font-size: $size7;
        color: $coloroscuro;
        text-align: center;
        font-weight: 500;
      }
      h3 {
        text-align: left;
        font-size: $font-size4;
        color: $color5;
        padding: $height3 5vh;
      }
    }
  }
  @media screen and (max-width: 768px) {
    @include fonts;
    @include flexcolumn;
    .sec-acerca1 {
      @include flexcolumn;
      align-items: center;
      justify-items: center;
      .div8 {
        img {
          width: $width100;
          height: $heightauto;
        }
      }
      .div9 {
        width: $width100;
        height: $heightauto;
        padding-top: $size10;
        h1 {
          padding-top: $size4;
          font-size: $size11;
        }
        h2 {
          padding: 0 $size2 $size10 $size2;
          font-size: $size12;
          text-align: center;
        }
      }
    }
    .sec-acerca2 {
      @include flexcolumn;
      .div10 {
        h2 {
          font-size: $width10;
        }
        h3 {
          font-size: $size12 *1.5;
        }
      }
    }
    .sec-acerca3, .sec-acerca4, .sec-acerca5 {
      @include flexcolumn;
      .div11, .div14, .div15 {
        img {
          width: $width80;
          height: $heightauto;
        }
      }
      .div12, .div13, .div16 {
        width: $width80;
        height: $heightauto;
        h2 {
          font-size: $size5;
          text-align: center;
          padding: $size4 6vw $height3 6vw;
        }
        h3 {
          font-size: $size12;
          text-align: center;
        }
      }
    }
  }
}
