#bodyindex, #bodysobremusa, #bodycombinaciones, #bodypedidos, #bodycontacto{
    footer{
        background-color: $color1;
        color: $colorclaro;
        svg{
            fill: $colorclaro;
        }
        .disclaimer{
            font-size: $font-size2;
        }
    }
}