#bodyindex, #bodysobremusa, #bodycombinaciones, #bodypedidos, #bodycontacto {
  footer {
    background-color: $color1;
    color: $colorclaro;
    svg {
      fill: $colorclaro;
      width: $font-size4;
      height: $heightauto;
    }
    .disclaimer {
      font-size: $font-size4;
    }
  }
  @media screen and (max-width: 768px) {
    footer{
      svg{
        width: 3vw;
      }
      .disclaimer {
        font-size: 2.5vw;
      }
    }
  }
}
