#bodyindex, #bodysobremusa, #bodycombinaciones, #bodypedidos, #bodycontacto {
  .menumobile {
    @include flex;
    align-content: flex-end;
    width: $width10;
    button {
      border: 0px;
      margin-top: $size10;
    }
    .offcanvas-header {
      background-color: $color7;
      .offcanvas-title {
        fill: $color1;
      }
    }
    .offcanvas-body {
      background-color: $color7;
      .nav-link {
        color: $color1;
      }
      .dropdown-menu {
        background-color: $color7;
        border: 1px solid $color1;
        margin-bottom: 10px;
        .dropdown-item {
          color: $color1;
          background-color: $color7;
          text-align: center;
        }
      }
      .form-control {
        height: $size3;
        margin-top: $size10;
      }
      .btn-outline-success {
        background-color: $color1;
        color: $colorclaro;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .menumobile {
      display: none;
    }
  }
}
